In [1]:
for i in range (1,5):
    for j in range (1,4):
        print("*",end = "")
        
    print(" ")

***
***
***
***

In [2]:
for i in range (1,5):
    print(i)
    for j in range (1,4):
        print("*",end = "")
        
    print(" ")

1
***
2
***
3
***
4
***

In [3]:
for i in range (1,5):
    for j in range (0,i):
        print("*",end = "")
        
    print("")

*
**
***
****

In [4]:
for i in range (1,5):
    for j in range (1,i+1):
        print("*",end = "")
        
    print("")

*
**
***
****

In [5]:
for i in range (5,1,-1):
    for j in range (1,i):
        print("*",end = "")
        
    print("")

****
***
**
*

In [6]:
for i in range (1,5):
    for j in range (0,i):
        print(i,end = "")
        
    print("")

1
22
333
4444

In [7]:
for i in range (1,5):
    for j in range (1,i+1):
        print(j,end = "")
        
    print("")

1
12
123
1234

In [8]:
n = int(input())

for i in range (0,n):
    for j in range (1,i+1):
        print("*",end = "")
        
    print("")

5

*
**
***
****

In [44]:
x = 10 
for i in range (1,5):
 
    for j in range (1,i+1):
        print(x,end = "")
        
    print("")
    x+=1

10
1111
121212
13131313

In [10]:
x = 10 
n=int(input())
print("")

for i in range (1,n+1):
 
    for j in range (1,i+1):
        print(x,end = "")
        x+=1
    print("")

5

10
1112
131415
16171819
2021222324

In [11]:
for i in range (5,1,-1):
    for j in range (1,i):
        print("*",end = "")
        
    print("")

****
***
**
*

In [12]:

for i in range (1,5):
 
    for j in range (i,0,-1):
        print(j,end = "")
        
    print("")

1
21
321
4321

In [13]:

for i in range (1,5):
 
    for j in range (i,1):
        print(j,end = "")
        
    print("")

In [14]:
n= 20 

for i in range (5,1,-1):
    for j in range (1,i):
        print(n,end="")
        
    print("")
    n=n-1

20202020
191919
1818
17

In [15]:
n= 14

for i in range (5,1,-1):
    for j in range (1,i):
        print(n,end="")
        
    print("")
    n=n-2

14141414
121212
1010
8

In [16]:

for i in range (1,5):
    n=14
    for j in range (i,0,-1):
        print(n,end = " ")
        n=n-2
    print("")

14
14 12
14 12 10
14 12 10 8

In [17]:

for i in range (0,5):
    n=0
    for j in range (0,i+1):
        print(n*i,end = " ")
        n=n+1
    print("")

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16

In [18]:
for i in range (65,69):
    for i in range(65,i+1):
        print(chr(i),end=" ")
        
    print("")

A
A B
A B C
A B C D

In [19]:
for i in range (1,5):
    for j in range(4,i,-1):
        print(" ",end="")
        
    for k in range(0,i):
        print("*",end="")
    print("")

   *
  **
 ***
****

In [20]:
for i in range (1,5):
    for j in range(4,i,-1):
        print("$",end="")
        
    for k in range(0,i):
        print("*",end="")
    print("")

$$$*
$$**
$***
****

In [21]:
x= 90

for i in range (1,5):
    for j in range(4,i,-1):
        print(" ",end="")
        
    for k in range(0,i):
        print(chr(x),end="")
        x=x-1
    print("")

   Z
  YX
 WVU
TSRQ

In [22]:
x= 11

for i in range (1,5):
    for j in range(4,i,-1):
        print("  ",end="")
        
    for k in range(0,i):
        print(x,end="")
        x=x+1
    print("")

      11
    1213
  141516
17181920

In [23]:

for i in range (1,5):
    
    for j in range (i,0,-1):
        print(i*j,end = " ")
        
    print("")

1
4 2
9 6 3
16 12 8 4

In [24]:

for i in range (1,4):
    
    for j in range (1,i+1):
        print(i*j,end = " ")
        
    print("")

1
2 4
3 6 9

In [25]:
x = 1

for i in range (4):
    for j in range(x):
        print("*",end="")
        
    x*=2
    print("")

*
**
****
********

# practice

n=int(input())


for i in range(0,n):
    for j in range (1,4):
        print("*",end = "")
    print("")

In [45]:
n = int(input())

for i in range(0,n):
    for i in range (0,i+1):
        print("*",end = "")
        
    print("")

5
*
**
***
****
*****

In [47]:
n = int(input())

for i in range(0,n):
    for j in range (n,i,-1):
        print("*",end = "")
        
    print("")

5
*****
****
***
**
*

In [48]:
n = int(input())

for i in range(0,n):
    for j in range(0,n-i):
        print(" ",end="")
        
    for k in range(0,i+1):
        print("*",end ="")
        
    print("")

5
     *
    **
   ***
  ****
 *****

In [49]:
n = int(input())

for i in range (0,n):
    for j in range(0,i):
        print(" ",end = "")
        
    for k in range(0,n-i):
        print("*",end = "")
        
    print("")

5
*****
 ****
  ***
   **
    *

In [50]:
n = int(input())

for i in range(0,n):
    for j in range(0,i+1):
        print(i+1,end = "")
        
    print("")

5
1
22
333
4444
55555

In [51]:
n = int(input())

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    i=i+1
    
    print("")

5
1
12
123
1234
12345

In [52]:
n = int(input())

for i in range(0,n):
    for j in range(0,n-i):
        print(" ",end = "")
    for k in range(0,i+1):
        print("*",end = "")
        
    print("")

5
     *
    **
   ***
  ****
 *****

In [53]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if (j==1 or i==n or i==j):
            print("*",end = "")
        else :
            print(" ",end = "")
        
            
    print("")

5
*
**
* *
*  *
*****

In [54]:
n = int(input())

for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(" ",end = "")
    for k in range(1,i+1):
        if ( k==1 or k==i or i==n ):
            print("*",end = "")
                
        else:
            print(" ",end = "")
                
    print("")

5
     *
    **
   * *
  *  *
 *****

In [55]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if (j==1 or i==n or i==j):
            print("*",end = "")
        else :
            print(" ",end = "")
        
            
    print("")

5
*
**
* *
*  *
*****

In [56]:
n = int(input())

for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(" ",end = "")
    for k in range(1,i+1):
        if ( k==1 or k==i or i==n ):
            print("*",end = " ")
                
        else:
            print(" ",end = " ")
                
    print("")

5
     *
    * *
   *   *
  *     *
 * * * * *

In [57]:
n = int(input())
for i in range(1,n+1):
    for j in range(n+1,i,-1):
        if (i==1 or j==n+1 or j==i+1 ):
            print("*",end = "")
        else :
            print(" ",end = "")
        
            
    print("")

5
*****
*  *
* *
**
*

In [58]:
n = int(input())

for i in range(1,n+1):
    for j in range(1,i):
        print(" ",end = "")
        
    for k in range(n+1,i,-1):
        if (i==1 or  k==n+1 or k==i+1):
        
            print("*",end ="")
        else:
            print(" ",end = "")
            
    print(" ")

5
*****
 *  *
  * *
   **
    *

In [59]:
n = int(input())

for i in range(0,n):
    for j in range(0,n):
        print("*",end = " ")
        
    print(" ")

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [60]:
n = int(input())

for i in range(0,n):
    for j in range(0,n):
        if (j==0 or i==0 or i==n-1 or j==n-1 ):
            print("*",end = " ")
        else:
            print(" ",end = " ")
        
    print(" ")

5
* * * * *
*       *
*       *
*       *
* * * * *

In [120]:
n = int(input())

for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(" ",end = "")
    for k in range(1,i+1):
        if ( k==1 or k==i or i==n ):
            print("*",end = " ")
                
        else:
            print(" ",end = " ")
                
    print("")

4
    *
   * *
  *   *
 * * * *

# Questions

In [141]:
n = int(input())

for i in range(1,n+1):
    for j in range(1,i+1):
        if((i!=1 and i!=2 and i!=n and j!=1 and j!=i) ):
            print(" ",end = "")
        else :
            
            
            print(j,end="")
           

    
    print("")

5
1
12
1 3
1  4
12345

In [154]:
n = int(input())
x=n

for i in range (0,n):
    for j in range(0,i):
        print(" ",end = "")
    for k in range (0,n-i):
        if(i!=0 and i!=n-1 and i!=n-2 and k!=0 and k!= n-i-1):
            print(" ",end ="")
        else:
            print(x,end = "")
        
    x= x-1
    print("")

9
999999999
 8      8
  7     7
   6    6
    5   5
     4  4
      3 3
       22
        1

In [163]:
n = int(input())

for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(" ",end = "")
    for k in range(1,i+1):
        if ( k==1 or k==i or i==n or i==n-1  ):
            print("*",end = " ")
                
        else:
            print(" ",end = " ")
                
    print("")

4
    *
   * *
  * * *
 * * * *

In [127]:
n = int(input())

for i in range(1,n+1):
    for j in range(n+1,i,-1):
        print(" ",end = "")
    for k in range(1,i+1):
        if ( k==1 or k==i or i==n or i==n-i ):
            print("*",end = " ")
                
        else:
            print(" ",end = " ")
                
    print("")

7
       *
      * *
     *   *
    *     *
   *       *
  *         *
 * * * * * * *

In [133]:
n=int(input())
x = 1
for i in range (1,6):
    for j in range(1,i+1):
        if(i%2!=0 and ):
            print(x,end = "")
    x=x+1
    print(" ")

5
1

333

55555

In [155]:
n = int(input())
for i in range(1,n+ 1):
    
    print(i)
    if(i==1):
        print("*" * (2*i))
    else:
        print("*" * (i*i))

4
1
**
2
****
3
*********
4
****************

In [160]:
n = int(input())
x =5
for i in range(0,n):
    print(x)
    for i in range (0,i+1):
        print("#",end = "")
    x = x-1   
    print("")

5
5
#
4
##
3
###
2
####
1
#####